/* Stylesheet for projectlist.js */

#project-list-div{
  display: flex;
  justify-content: start;
  align-items: start;
}

#project-list-table td{
    border: 1px solid hsl(0, 0%, 50%);
    background-color: white;
    height: 1.5rem;
    padding-inline: 0.5em;
}

#project-list-table th{
  background-color: hsl(0, 0%, 35%);
  color: white;
  font-style: bold;
  height: 2rem;
  text-align: left;
  padding-inline-start: 0.5em;
}

#project-list-table{
  width: 100%;
  cursor : cell;
  user-select : none;
  border-spacing : 0.05rem;
}


#project-list-table th:hover{
  cursor:not-allowed;
}

#project-list-div{
    background-color: hsl(0, 0%, 80%);
}